.background-gif {
    background-image: url('./3J.gif'); /* Your GIF path */
    background-size: 10%; /* Cover the entire element */
    background-position: bottom; /* Align it to the center bottom */
   /* Prevent the background from repeating */
   
    bottom: 0; /* Align it to the bottom */
    left: 0; /* Align it to the left */
    right: 0; /* Ensure it stretches to the right */
    height: 30%; /* Make it fill the height of its parent */
  width: 100%; /* Make it fill the width of its parent */
  
}

.animate-spin-slow {
  animation: spin 20s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* .animate-spin-slow {
  animation: spin 20s linear infinite;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
} */
